# Supabase Config
NEXT_PUBLIC_SUPABASE_URL=https://pfgvtzgwbnkzluyaccps.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE=sb_publishable_6eSDPYPwbDGXnT7wtDkTxg_9JKWhbwn

NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBmZ3Z0emd3Ym5remx1eWFjY3BzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg3MTQ4OTIsImV4cCI6MjA5NDI5MDg5Mn0.EJdkeAPhbNrKsjbaIvgeDwhaxHmbcshu9vlikUzWvXg
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBmZ3Z0emd3Ym5remx1eWFjY3BzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODcxNDg5MiwiZXhwIjoyMDk0MjkwODkyfQ.2iiUgmFkVhR2gP7xFec7Eu8yYjIyHjrKWNfSK1PSIYs

# Other
NEXT_PUBLIC_SITE_URL=http://localhost:3000
